.Card{
    background-color: rgb(221, 221, 221);
    border-radius: 15px;
    overflow: hidden;
    margin: 10px;
    height: 200px;
    width: 150px;
    display: flex;
    flex-direction: column;
    border: 3px solid rgb(221, 221, 221);
}

.Card .Title {
    font-size: 24px;
    text-align: center;
}

.Card .Content {
    padding: 20px;
    text-align: center;
    background-color: white;
    flex-grow: 1;
}